doctype html

mixin ga
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41580145-2', 'auto');
    ga('send', 'pageview');

mixin bootstrap
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

mixin jquery
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

mixin fbSDK()
    script(src="/js/social/facebook.js")

mixin customSEO(seoTitle, desc, img, type)
  if !seoTitle
    - seoTitle = title
  if !desc
    - desc = socialDescription
  if !img
    - img = socialImageUrl
  else
    - img = "http://jerry-schneider.com"+img
  if !type
    - type = 'website'
  - title = seoTitle
  - socialDescription = desc
  - socialImageUrl = img
  meta(charset="utf-8")
  meta(name="description" content="#{desc}")
  link(rel="author" href="https://plus.google.com/104601552941402609417")
  meta(property="og:title" content="#{seoTitle}")
  meta(property="og:type" content="#{type}")
  meta(property="og:image" content="#{img}")
  meta(property="og:url" content="#{myPath}")
  meta(property="og:description" content="#{desc}")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:url" content="#{myPath}")
  meta(name="twitter:title" content="#{seoTitle}")
  meta(name="twitter:description" content="#{desc}")
  meta(name="twitter:image" content="#{img}")

mixin seo
  meta(charset="utf-8")
  meta(name="description" content="#{socialDescription}")
  link(rel="author" href="https://plus.google.com/104601552941402609417")
  meta(property="og:title" content="#{socialDescription}")
  meta(property="og:type" content="website")
  meta(property="og:image" content="#{socialImageUrl}")
  meta(property="og:url" content="#{myPath}")
  meta(property="og:description" content="#{socialDescription}")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:url" content="#{myPath}")
  meta(name="twitter:title" content="#{title}")
  meta(name="twitter:description" content="#{socialDescription}")
  meta(name="twitter:image" content="#{socialImageUrl}")


html
    head
      if !customSEO
        +seo
      else
        block customHead
      title #{title}
      +jquery
      +bootstrap
      +fbSDK
      +ga
      link(rel='stylesheet', href='/css/base.css')
    body
        block bodyContent
