doctype html

mixin bootstrap
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

mixin jquery
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

mixin fbSDK()
    script(src="js/social/facebook.js")

mixin seo
  meta(charset="utf-8")
  meta(name="description" content="#{socialDescription}")
  link(rel="author" href="https://plus.google.com/104601552941402609417")
  meta(property="og:title" content="#{socialDescription}")
  meta(property="og:type" content="website")
  meta(property="og:image" content="#{socialImageUrl}")
  meta(property="og:url" content="#{myPath}")
  meta(property="og:description" content="#{socialDescription}")
  meta(name="twitter:card" content="summary")
  meta(name="twitter:url" content="#{myPath}")
  meta(name="twitter:title" content="#{title}")
  meta(name="twitter:description" content="#{socialDescription}")
  meta(name="twitter:image" content="#{socialImageUrl}")


html
    head
      title #{title}
      +seo
      +jquery
      +bootstrap
      +fbSDK
      link(rel='stylesheet', href='/css/base.css')
    body
        block bodyContent
