extends base

block bodyContent
    +header
    +socialMedia

    block pageBody

    +footer

mixin header
    nav.navbar.navbar-fixed-top
        div.container
            div.navbar
                div.navbar-header
                    a(href='/').navbar-brand Jerry Schneider
                ul.nav.navbar-nav
                    li
                        a(href='/resume') Resume
                    li
                        a(href='/wordWizard') Word Wizard
                    li
                        a(href='/blog') Blog
                    if auth == null
                        li.right
                            a(href='/login') Log In
                    else
                        li.right
                            a(href='/logout') Log Out
                        li.right
                            a(href='/profile') #{user.local.username}
    div.navPlaceholder

mixin footer
    hr
    div.container
        footer Copyright &copy #{year} Jerry Schneider

mixin socialMedia
    div.socialMedia 
        div.title Share
        div.shareWrap
            div.fb-share.share(data-href="#{myPath}" data-image="#{socialImageUrl}" data-title="#{title}" data-desc="#{socialDescription}") f
        div.shareWrap
            a.twitter-share.share(href="https://twitter.com/share?text=&amp;url=#{myPath}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=260,width=600');return false;")
                img.icon(src="/images/Twitter_logo_white.png" alt="share on twitter")
